@font-face {
  font-family: DMSansItalic;
  src: url(assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: DMSans;
    src: url(assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
img {
    width: 200px;
}
#Fullbox {
    background-color: white;
    max-width: 75%;
    height: 700px;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
}

#Create {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-row: span 3 / span 3;
    background-color: hsl(31, 66%, 93%);
    font-family: DMSans;
    font-size: xx-large;
    border-radius: 10px;
}
#Create img {
    width: 80%;
    height: auto;
    
}
#Create p {
    letter-spacing: -2px;
    font-size: auto;
    line-height: 30px;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 20%;
    text-align: left;
}
#quicker {
    color: hsl(256, 67%, 59%);
}
#Content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: hsl(39, 100%, 71%);
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    border-radius: 10px;
}
#Content p {
    letter-spacing: -2px;
    font-size: auto;
    line-height: 30px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    height: 26%;
    text-align: left;
    font-family: DMSans;
    font-size: xx-large;
}
#Manage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
    border-radius: 10px;
}
#Manage p {
    letter-spacing: -2px;
    font-size: auto;
    line-height: 30px;
    font-weight: 500;
    padding-left: 20px;
    height: 20%;
    text-align: left;
    font-family: DMSans;
    font-size: xx-large;
}
#Manage img {
    object-fit: fill;
    width: 300px;
}
#Faster {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: hsl(256, 67%, 59%);
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius: 10px;
}
#tenxfaster {
    color:hsl(0, 0%, 100%);
    letter-spacing: 0px;
    font-size: auto;
    line-height: 60px;
    font-weight: 500;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 30%;
    text-align: center;
    font-family: DMSans;
    font-size: 350%;
}
#times {
    color: hsl(39, 100%, 71%);
}
#Faster img {
    height: 30px;
    width: auto;
    margin-bottom: -15px;
}
#fivestars {
    color:hsl(0, 0%, 100%);
    letter-spacing: 0px;
    font-size: auto;
    font-family: DMSans;
}
#Maintain {
    background-color: hsl(39, 100%, 71%);;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    border-radius: 10px;
    overflow: hidden;
}
#Maintain p {
    letter-spacing: -2px;
    font-size: auto;
    line-height: 30px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    height: 26%;
    text-align: left;
    font-family: DMSans;
    font-size: x-large; 
}
#Maintain img {
    height: 80%;
    width: auto;
}
#Grow {
    background-color: hsl(256, 67%, 59%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    border-radius: 10px;
}
#Grow p {
    display: inline-block;
    color:hsl(0, 0%, 100%);
    letter-spacing: 0px;
    font-size: auto;
    line-height: 60px;
    font-weight: 500;
    height: 100%;
    text-align: right;
    font-family: DMSans;
}
#Grow img {
    display: inline-block;
    text-align: left;
    height: 80%;
    width: auto;
    margin-top: 20px;
}
#Audience {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
    border-radius: 10px;
}
#Schedule {
    background-color: #dcd1fc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
    border-radius: 10px;
}